.menu {
  &__list {
    list-style: none;

    @include media-breakpoint-up(lg) {
      display: flex;
    }    
    @include media-breakpoint-up(xxl) {
      max-width: 750px;
    }   
  }

  &__item {
    @include media-breakpoint-up(xxl) {
      margin-right: 56px;
    }

    &:last-child {
      @include media-breakpoint-up(xxl) {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    @include font(16px, 24px, 400);
    padding: 20px;
  }
}